<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".PocketPetApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketPet"
        tools:targetApi="31">

        <!-- MainActivity - Punto de entrada -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PocketPet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad de Metas/Objetivos -->
        <activity
            android:name=".presentacion.pantallas.estados.actividad_meta"
            android:exported="false"
            android:theme="@style/Theme.PocketPet"
            android:parentActivityName=".MainActivity" />

        <!-- Actividad de Presupuestos -->
        <activity
            android:name=".presentacion.pantallas.estados.actividad_presupuesto"
            android:exported="false"
            android:theme="@style/Theme.PocketPet"
            android:parentActivityName=".MainActivity" />

        <!-- TODO: Agregar otras actividades aquí cuando estén listas -->

    </application>

</manifest>